.bottom-nav.clearfix
    .pull-left.inline-block
        span.explore
            a(href='#') explore
        span.search
            a(href='#') search
        span.showroom
            a(href='#') showroom
    .pull-center.inline-block
        span.signin
            a(href='#') signin
    .pull-right.inline-block
        span.follow
            a(href='#') follow
        span.info
            a(href='#') info
        span.language
            a(href='#') 中文



