#bottom-nav
  .row-fluid
    .hidden-xs.hidden-sm.col-md-4.col-lg-4
        span.explore
            a(href='/') explore
        span.search
            a(href='/search') search
        span.showroom
            a(href='#') showroom
    .hidden-xs.hidden-sm.col-md-4.col-lg-4
        span.signin
            a(href='/signin') signin
    .hidden-xs.hidden-sm.col-md-4.col-lg-4
        span.follow
            a(href='#') follow
        span.info
            a(href='#') info
        span.language
            a(href='#') 中文



