#mobile-nav
  ul.nav
    li.menu-block
      a(href='#') Sign in
    li.menu-block
      a.explore(href='#') Explore
      a.search-btn(href='#') Search
      a(href='#') Showroom
    li.menu-block
      a.clearfix(href='#') Account
      a(href='#') 中文
    li.menu-block
      | Follow
      a(href='#')
        img(src='/images/mobile_twitter.png')
      a(href='#')
        img(src='/images/mobile_facebook.png')
      a(href='#')
        img(src='/images/mobile_pinterest.png')
      a(href='#')
        img(src='/images/mobile_weibo.png')
      .subsribe
        input.input(name='email' type='email' placeholder='EMAIL' required='required' aria-required='true')
        button Subsribe
    .menu-block
      a(href='#') Info