#mobile-nav.visible-xs.col-xs-3.pull-right
  ul.nav.nav-stacked
    li.menu-block
      a(href='#') Sign in
    li.menu-block
      a.mobile-explore.clearfix(href='#') Explore
      a.mobile-search-btn.clearfix(href='#') Search
      a(href='#') Showroom
    li.menu-block
      a.clearfix(href='#') Account
      a(href='#') 中文
    li.menu-block
      | Follow
      a(href='#')
        img(src='/images/mobile_twitter.png')
      a(href='#')
        img(src='/images/mobile_facebook.png')
      a(href='#')
        img(src='/images/mobile_pinterest.png')
      a(href='#')
        img(src='/images/mobile_weibo.png')
      .subsribe
        input.input(name='email' type='email' placeholder='EMAIL' required='required' aria-required='true')
        button Subsribe
    .menu-block
      a(href='#') Info