.mobile-nav
  .mobile-nav-expanded
    .main-menu
      .menu-block
        a(href='#') Sign in
      .menu-block.text-space
        div
          a.mobile-explore.clearfix(href='#') Explore
          a.mobile-search-btn.clearfix(href='#') Search
          a(href='#') Showroom
      .menu-block.text-space
        div
          a.clearfix(href='#') Account
          a(href='#') 中文
      .menu-block.text-space
        div Follow
        .inline-block
          a(href='#')
            img(src='/images/mobile_twitter.png')
          a(href='#')
            img(src='/images/mobile_facebook.png')
          a(href='#')
            img(src='/images/mobile_pinterest.png')
          a(href='#')
            img(src='/images/mobile_weibo.png')
        .subsribe
          input.input(name='email' type='email' placeholder='EMAIL' required='required' aria-required='true')
          button Subsribe
      .menu-block
        a(href='#') Info