#brand-sidebar
  .title 
    | byAMT
  .misc
    a(href='#')
      img(src='/images/fb.png')
    a(href='#')
      img(src='/images/twitter_2.png')
    a(href='#') Share...
    a.follow(href='#') Follow
    a(href='#')
      img(src='/images/love-it.png')
  .brand-info
    | New York-based design studio byAMT creates jewelry, home goods, and furniture that tweak expectations and invite deli.visible-xs-inline-blockght.
  .brand-menu(ng-controller="brandChapterCtrl")
    ul
      li.visible-xs-inline-block.visible-sm-inline-block.visible-md-block.visible-lg-block
        a(href='/brand/products-all') Products
        ul
          li
            a.all(href='products-all') All
          li
            a.featured(href='/brand/products-featured') Featured
      li.visible-xs-inline-block.visible-sm-inline-block.visible-md-block.visible-lg-block(ng-repeat="chapter in chapters" ng-class="navClass('{{chapter.name}}')")
        a(href='/brand/chapter/{{chapter.name}}' style="text-transform: capitalize") {{chapter.name}}
      li
        a(href='/brand/trace') Trace