#brand-chapter(ng-controller="brandChapterCtrl")
  img.img-responsive(ng-src='/images/brand/{{onchapter}}.jpg')
  .info
    h3 byAMT
    img.logo(src='/images/story-logo.png', alt='')
    ul.social
      li
        a(href='#', title='')
          img(src='/images/shape-2.png', alt='')
      li
        a(href='#', title='')
          img(src='/images/fb.png', alt='')
      li
        a(href='#', title='')
          img(src='/images/twitter_2.png', alt='')
      li
        a(href='#', title='') Share...
    p
      | New York-based design studio byAMT creates jewelry, home goods, and furniture that tweak expectations and invite delight.
    p
      | New York-based design studio byAMT creates jewelry, home goods, and furniture that tweak expectations and invite delight.
