#featured
  ul.control
    li
      a.next next
    li
      a.skip skip
  div
    img.img-responsive(ng-src="/images/featured/featured-1.jpg")
  div
    img.img-responsive(ng-src="/images/featured/featured-2.jpg")
  div
    img.img-responsive(ng-src="/images/featured/featured-3.jpg")