#featured
  ul#control
    li.next
      a(href='#feature-2' target="_self")
        img(src='images/next.png', alt='')
    li or
    li.skip
      a(href='/products')
        img(src='images/skip.png', alt='')
  #parallax  
    #feature-1.featured(style="background: url(/images/featured/featured-1.jpg) no-repeat fixed 50% 0 / cover;")
    #feature-2.featured(style="background: url(/images/featured/featured-3.jpg) no-repeat fixed 50% 0 / cover;")
    #feature-3.featured(style="background: url(/images/featured/featured-2.jpg) no-repeat fixed 50% 0 / cover;")

script.
  $(document).ready(function($) {
    $('#feature-1').parallax("50%", 0.1);
    $('#feature-2').parallax("50%", 0.1);
    $('#feature-3').parallax("50%", 0.1);
  });
  $('#feature-1').bind('inview', function (event, visible) {
    if (visible == true) {
      $('#featured #control .next a').attr('href', '#feature-2');
    }
  });
  $('#feature-2').bind('inview', function (event, visible) {
    if (visible == true) {
      $('#featured #control .next a').attr('href', '#feature-3');
    }
  });
  $('#feature-3').bind('inview', function (event, visible) {
    if (visible == true) {
      $('#featured #control .next a').attr('href', '#main');
    }
  });