.imagegrid.isotope.row
  .imagewrapper.span4.isotope-item.women.jewellry
    img.image(src='/images/img1.jpg')
    img.tag(src='/images/tag.png')
    .tag_info.clearfix
      p.text.from_text
        | From
        br
      p.text.product_name
        | White Cotton Scarf
        br
      p.text.designer_text
        | Martyn Bal
        br
      p.text.price_text
        | £120.00
        br
      button.small_button Add to Cart
      img.love(src='/images/lovely_icon.png')
      img.share(src='/images/share_icon.png')
      img.shadow(src='/images/shadow.png')
  .imagewrapper.span4.isotope-item.women.jewellry.shoes
    img.image(src='/images/img2.jpg')
    img.tag(src='/images/tag.png')
    .tag_info.clearfix
      p.text.from_text
        | From
        br
      p.text.product_name
        | White Cotton Scarf
        br
      p.text.designer_text
        | Martyn Bal
        br
      p.text.price_text
        | £120.00
        br
      button.small_button Add to Cart
      img.love(src='/images/lovely_icon.png')
      img.share(src='/images/share_icon.png')
      img.shadow(src='/images/shadow.png')
  .imagewrapper.span4.isotope-item.men.shoes
    img.image(src='/images/img3.jpg')
    img.tag(src='/images/tag.png')
    .tag_info.clearfix
      p.text.from_text
        | From
        br
      p.text.product_name
        | White Cotton Scarf
        br
      p.text.designer_text
        | Martyn Bal
        br
      p.text.price_text
        | £120.00
        br
      button.small_button Add to Cart
      img.love(src='/images/lovely_icon.png')
      img.share(src='/images/share_icon.png')
      img.shadow(src='/images/shadow.png')
  .imagewrapper.span4.isotope-item.men.shoes
    img.image(src='/images/img4.jpg')
    img.tag(src='/images/tag.png')
    .tag_info.clearfix
      p.text.from_text
        | From
        br
      p.text.product_name
        | White Cotton Scarf
        br
      p.text.designer_text
        | Martyn Bal
        br
      p.text.price_text
        | £120.00
        br
      button.small_button Add to Cart
      img.love(src='/images/lovely_icon.png')
      img.share(src='/images/share_icon.png')
      img.shadow(src='/images/shadow.png')
  .imagewrapper.span4.isotope-item.men.accessories
    img.image(src='/images/img5.jpg')
    img.tag(src='/images/tag.png')
    .tag_info.clearfix
      p.text.from_text
        | From
        br
      p.text.product_name
        | White Cotton Scarf
        br
      p.text.designer_text
        | Martyn Bal
        br
      p.text.price_text
        | £120.00
        br
      button.small_button Add to Cart
      img.love(src='/images/lovely_icon.png')
      img.share(src='/images/share_icon.png')
      img.shadow(src='/images/shadow.png')
  .imagewrapper.span4.isotope-item.women.other
    img.image(src='/images/img6.jpg')
    img.tag(src='/images/tag.png')
    .tag_info.clearfix
      p.text.from_text
        | From
        br
      p.text.product_name
        | White Cotton Scarf
        br
      p.text.designer_text
        | Martyn Bal
        br
      p.text.price_text
        | £120.00
        br
      button.small_button Add to Cart
      img.love(src='/images/lovely_icon.png')
      img.share(src='/images/share_icon.png')
      img.shadow(src='/images/shadow.png')
  .imagewrapper.span4.isotope-item.women.other
    img.image(src='/images/img7.jpg')
    img.tag(src='/images/tag.png')
    .tag_info.clearfix
      p.text.from_text
        | From
        br
      p.text.product_name
        | White Cotton Scarf
        br
      p.text.designer_text
        | Martyn Bal
        br
      p.text.price_text
        | £120.00
        br
      button.small_button Add to Cart
      img.love(src='/images/lovely_icon.png')
      img.share(src='/images/share_icon.png')
      img.shadow(src='/images/shadow.png')
  .imagewrapper.span4.isotope-item.women.other
    img.image(src='/images/img8.jpg')
    img.tag(src='/images/tag.png')
    .tag_info.clearfix
      p.text.from_text
        | From
        br
      p.text.product_name
        | White Cotton Scarf
        br
      p.text.designer_text
        | Martyn Bal
        br
      p.text.price_text
        | £120.00
        br
      button.small_button Add to Cart
      img.love(src='/images/lovely_icon.png')
      img.share(src='/images/share_icon.png')
      img.shadow(src='/images/shadow.png')
  .imagewrapper.span4.isotope-item.women.other
    img.image(src='/images/img1.jpg')
    img.tag(src='/images/tag.png')
    .tag_info.clearfix
      p.text.from_text
        | From
        br
      p.text.product_name
        | White Cotton Scarf
        br
      p.text.designer_text
        | Martyn Bal
        br
      p.text.price_text
        | £120.00
        br
      button.small_button Add to Cart
      img.love(src='/images/lovely_icon.png')
      img.share(src='/images/share_icon.png')
      img.shadow(src='/images/shadow.png')
  .imagewrapper.span4.isotope-item.men.shoes
    img.image(src='/images/img2.jpg')
    img.tag(src='/images/tag.png')
    .tag_info.clearfix
      p.text.from_text
        | From
        br
      p.text.product_name
        | White Cotton Scarf
        br
      p.text.designer_text
        | Martyn Bal
        br
      p.text.price_text
        | £120.00
        br
      button.small_button Add to Cart
      img.love(src='/images/lovely_icon.png')
      img.share(src='/images/share_icon.png')
      img.shadow(src='/images/shadow.png')
  .imagewrapper.span4.isotope-item.men.bags
    img.image(src='/images/img3.jpg')
    img.tag(src='/images/tag.png')
    .tag_info.clearfix
      p.text.from_text
        | From
        br
      p.text.product_name
        | White Cotton Scarf
        br
      p.text.designer_text
        | Martyn Bal
        br
      p.text.price_text
        | £120.00
        br
      button.small_button Add to Cart
      img.love(src='/images/lovely_icon.png')
      img.share(src='/images/share_icon.png')
      img.shadow(src='/images/shadow.png')
  .imagewrapper.span4.isotope-item.men.bags
    img.image(src='/images/img4.jpg')
    img.tag(src='/images/tag.png')
    .tag_info.clearfix
      p.text.from_text
        | From
        br
      p.text.product_name
        | White Cotton Scarf
        br
      p.text.designer_text
        | Martyn Bal
        br
      p.text.price_text
        | £120.00
        br
      button.small_button Add to Cart
      img.love(src='/images/lovely_icon.png')
      img.share(src='/images/share_icon.png')
      img.shadow(src='/images/shadow.png')
  .imagewrapper.span4.isotope-item.men.bags
    img.image(src='/images/img5.jpg')
    img.tag(src='/images/tag.png')
    .tag_info.clearfix
      p.text.from_text
        | From
        br
      p.text.product_name
        | White Cotton Scarf
        br
      p.text.designer_text
        | Martyn Bal
        br
      p.text.price_text
        | £120.00
        br
      button.small_button Add to Cart
      img.love(src='/images/lovely_icon.png')
      img.share(src='/images/share_icon.png')
      img.shadow(src='/images/shadow.png')
  .imagewrapper.span4.isotope-item.men.accessories
    img.image(src='/images/img6.jpg')
    img.tag(src='/images/tag.png')
    .tag_info.clearfix
      p.text.from_text
        | From
        br
      p.text.product_name
        | White Cotton Scarf
        br
      p.text.designer_text
        | Martyn Bal
        br
      p.text.price_text
        | £120.00
        br
      button.small_button Add to Cart
      img.love(src='/images/lovely_icon.png')
      img.share(src='/images/share_icon.png')
      img.shadow(src='/images/shadow.png')
  .imagewrapper.span4.isotope-item.women.accessories
    img.image(src='/images/img7.jpg')
    img.tag(src='/images/tag.png')
    .tag_info.clearfix
      p.text.from_text
        | From
        br
      p.text.product_name
        | White Cotton Scarf
        br
      p.text.designer_text
        | Martyn Bal
        br
      p.text.price_text
        | £120.00
        br
      button.small_button Add to Cart
      img.love(src='/images/lovely_icon.png')
      img.share(src='/images/share_icon.png')
      img.shadow(src='/images/shadow.png')
  .imagewrapper.span4.isotope-item.men.accessories
    img.image(src='/images/img8.jpg')
    img.tag(src='/images/tag.png')
    .tag_info.clearfix
      p.text.from_text
        | From
        br
      p.text.product_name
        | White Cotton Scarf
        br
      p.text.designer_text
        | Martyn Bal
        br
      p.text.price_text
        | £120.00
        br
      button.small_button Add to Cart
      img.love(src='/images/lovely_icon.png')
      img.share(src='/images/share_icon.png')
      img.shadow(src='/images/shadow.png')

script.
  jQuery(document).ready(function($) {
    $('.isotope').isotope({
      itemSelector: '.isotope-item'
    })
  });
