#product-details
  .row
    .col-xs-12.col-sm-12.col-md-2.col-lg-2
      span.brand
        i From
        a(href='#') byAMT
    .col-xs-12.col-sm-12.col-md-6.col-lg-6
      ul.list-inline.social
        li
          | Follow
        li
          a(href='#')
            img(src='/images/shape-2.png')
        li
          a(href='#')
            img(src='/images/fb.png')
        li
          a(href='#')
            img(src='/images/twitter_2.png')
        li
          a(href='#') Share...
    .hidden-xs.hidden-sm.col-md-4.col-lg-4
      button.chat_btn Chat Online
  .details
    .col-xs-12.col-sm-12.col-md-6.col-lg-6
      .title 
        | Bubble Bracelet - clear acrylic 
      .price 
        | £12
      .vat
        i VAT & Import duty incl.
    .col-xs-12.col-sm-12.col-md-6.col-lg-6
      ul.delivery
        li Product code: 1234556
        li Delivery & Returns: £5 UK. £10 ROW. Free return in UK.
        li
          img(src='/images/QRcode.png')
    .tabs
      ul.nav.nav-tabs(ng-controller="productCtrl")
        li.active
          a.tab(href='#tab-desc' role="tab" data-toggle="tab") Description
        li
          a.tab(href='#tab-notes' role="tab" data-toggle="tab") Designer Notes
        li
          a.tab(href='#tab-advice' role="tab" data-toggle="tab") Materials and Care Advice
        li
          a.tab(href='#tab-size' role="tab" data-toggle="tab") Size Help
      .tab-content
        #tab-desc.tab-pane.active {{product.description}}
        #tab-notes.tab-pane {{product.notes}}
        #tab-advice.tab-pane {{product.advice}}
        #tab-size.tab-pane {{product.size}}
    .carousels(ng-controller="productCtrl" style="width:640px; height: 100px; margin: 0 auto")
      #productCarousel1.carousel.slide
        .carousel-inner
          .item.active
            ul
              li(ng-repeat="item in carousel1" style="float: left")
                img.img-responsive(src="{{item.img}}")
          .item
            ul
              li(ng-repeat="item in carousel2" style="float: left")
                img.img-responsive(src="{{item.img}}")
        a.left.carousel-control(href='#productCarousel1', role='button', data-slide='prev')
          span.glyphicon.glyphicon-chevron-left
        a.right.carousel-control(href='#productCarousel1', role='button', data-slide='next')
          span.glyphicon.glyphicon-chevron-right
    .clearfix
    .carousels(ng-controller="productCtrl" style="width:640px; height: 30px; margin: 0 auto")
      #productCarousel2.carousel.slide
        .carousel-inner
          .item.active
            ul
              li(ng-repeat="item in carousel2" style="float: left")
                img.img-responsive(src="{{item.img}}")
          .item
            ul
              li(ng-repeat="item in carouse1" style="float: left")
                img.img-responsive(src="{{item.img}}")
        a.left.carousel-control(href='#productCarousel2', role='button', data-slide='prev')
          span.glyphicon.glyphicon-chevron-left
        a.right.carousel-control(href='#productCarousel2', role='button', data-slide='next')
          span.glyphicon.glyphicon-chevron-right
        .clearfix
