.products(ng-controller="productsCtrl")
  ul
    li.col-xs-12.col-sm-6.col-md-6.col-lg-6(ng-repeat="product in products | orderBy: sort |  filter:filterService.activeFilters") 
      img.img-responsive(ng-src="/{{product.image}}")
      .row
        .col-xs-12.col-sm-12.col-md-6.col-lg-6
          {{product.name}}
        .col-xs-12.col-sm-12.col-md-6.col-lg-6   
          div {{product.price | currency: "£"}}
      .row
        a(href="#" ng-click="likeEvent(product)") Like
        span  {{product.likeCount}}
.clearfix