#sidebar
  .brand-title 
    | byAMT
  .brand-misc
    a(href='#')
      img(src='/images/fb.png', alt='')
    a(href='#')
      img(src='/images/twitter_2.png', alt='')
    a(href='#') Share...
    a.follow(href='#') Follow
    a(href='#')
      img(src='/images/love-it.png', alt='')
  .brand-info
    | New York-based design studio byAMT creates jewelry, home goods, and furniture that tweak expectations and invite delight.
  .brand-menu
    ul
      li
        a.product(href='/brand/products') Products
        ul
          li 
            a.featured(href='#') Featured
          li
            a.all.open(href='#') All
      li
        a(href='/brand/section/story') Story
      li
        a(href='/brand/section/mood') Mood
      li
        a(href='/brand/section/talk') Talk
      li
        a(href='/brand/section/trip') Trip
      li
        a(href='/brand/section/moment') Moment
      li
        a(href='/brand/trace') Trace