aside
  .brand-title 
    | byAMT
  .brand-misc
    a(href='#')
      img(src='/images/fb.png', alt='')
    a(href='#')
      img(src='/images/twitter_2.png', alt='')
    a(href='#') Share...
    a.follow(href='#') Follow
    a(href='#')
      img(src='/images/love-it.png', alt='')
  .brand-info
    | New York-based design studio byAMT creates jewelry, home goods, and furniture that tweak expectations and invite deli.visible-xs-inlineght.
  .brand-menu
    ul
      li.visible-xs-inline(class="beautiful")
        a.product(href='/brand/products') Products
        ul.visible-sm-block.visible-xs-inline
          li.visible-sm-block.visible-xs-inline 
            a.visible-sm-block.all.open(href='#') All
          li.visible-sm-block.visible-xs-inline
            a.featured(href='#') Featured
      li.visible-xs-inline.visible-lg-block
        a(href='/brand/chapter/story') Story
      li.visible-xs-inline.visible-lg-block
        a(href='/brand/chapter/mood') Mood
      li.visible-xs-inline.visible-lg-block
        a(href='/brand/chapter/talk') Talk
      li.visible-xs-inline.visible-lg-block
        a(href='/brand/chapter/trip') Trip
      li.visible-xs-inline.visible-lg-block
        a(href='/brand/chapter/moment') Moment
      li.visible-xs-inline.visible-lg-block
        a(href='/brand/trace') Trace