#signup
  .title SIGN UP
  .divider.with
  input.email(name='email' type='email' placeholder='EMAIL' required='required')
  input.password(name='password' type='password' placeholder='PASSWORD' required='required')
  input.submit(type='submit' value="GO")
  .divider.or
  .social
    a(href='#')
      img(src='images/signup_twitter.png')
    a(href='#')
      img(src='images/signup_facebook.png')
    a(href='#')
      img(src='images/signup_weibo.png')
    a(href='#')
      img(src='images/signup_pinterest.png')
  p
    | Already a member? Sign in
    a here
    | .
  button.close