#signin-sidebar
  .login
    div
      .col-xs-12.col-sm-12.col-md-6.col-lg-6
        .title LOG IN
      .col-xs-12.col-sm-12.col-md-6.col-lg-6
        .forget forget password
    div
      input.email(name='email' type='email' placeholder='EMAIL' required='required')
      input.password(name='password' type='password' placeholder='PASSWORD' required='required')
      .col-xs-12.col-sm-12.col-md-6.col-lg-6
        input.submit(type='submit' value="GO")
      .col-xs-12.col-sm-12.col-md-6.col-lg-6
        label
          input.password(name='remember' type='checkbox')
          | Remember me
  .signup
    div
      .title JOIN THE COMMUNITY
      .member
        .social-login
          .col-xs-12.col-sm-12.col-md-6.col-lg-6
            span sign in with
          .col-xs-12.col-sm-12.col-md-6.col-lg-6
            ul.social
              li
                a(href='#', title='')
                  img(src='/images/fb.png')
              li
                a(href='#', title='')
                  img(src='/images/twitter_2.png')
        .local-signin
          div or with email address
          .col-xs-12.col-sm-12.col-md-6.col-lg-6
            input.fname(name='fname' type='text' placeholder='FIRST NAME' required='required')
          .col-xs-12.col-sm-12.col-md-6.col-lg-6
            input.lname(name='lname' type='text' placeholder='LAST NAME' required='required')
          .col-xs-12.col-sm-12.col-md-12.col-lg-12
            input.email(name='email' type='email' placeholder='EMAIL' required='required')
          .col-xs-12.col-sm-12.col-md-12.col-lg-12
            input.password(name='password' type='password' placeholder='PASSWORD' required='required')
          .col-xs-12.col-sm-12.col-md-6.col-lg-6
            label
              input.man(name='man' type='checkbox')
              | Man's fashion
          .col-xs-12.col-sm-12.col-md-6.col-lg-6
            label
              input.woman(name='woman' type='checkbox')
              | Woman's fashion
          label
            input.password(name='man' type='checkbox')
            | Receive our newsletter and recommendation?
          input.submit(type='submit' value="JOIN")
      .vip
        | REGISTER VIP ACCOUNT
