#brand-chapter
	font-family: PT_Sans;



	.info
		margin:70px;

		h3
			font-weight: bold;
			font-size: 30px;
			margin:0;
			display: inline-block;

		ul
			list-style-type:none;

			&.social

				display: inline-block;
				float: right;


			li
				float:left;
				margin-left:10px;

				a

					font-size: 12px;
					color: #929292;
					text-decoration: none;

		p
			font-size: 18px;
			font-weight: lighter;
			

