#products
  li
    position: relaltive
    .product-cover
      width 100%
    .tag
      position: absolute
      left: 0
      bottom: 15%
      width: 90%
      margin: 0 auto
      .tag-trigger
        text-align: center
      .tag_info
        background-color rgb(255, 255, 255)
        border 1px solid #ebebeb
        border-radius 3px
        display block
        font 700 1em/1.2 'PT Sans'
        padding 10px
        .small_button
          background-color rgb(179, 179, 179)
          border-radius 3px
          clear both
          color rgb(255, 255, 255)
          display block
          font-size 0.75em          
          line-height 1.38
          margin 10px 0 0 12px
          text-align center

  .shadow
    width: 100%