#follow
  img.close.img-responsive(src='/images/follow_cross.png')
  .wrapper
    input.input(name='email', type='email', placeholder='EMAIL', required='required', aria-required='true')
    button.subscribe SUBSCRIBE
    p.title connect with us
    .row
      .col-xs-6.col-sm-6.col-md-3.col-lg-3
        img#twitter.social_icon.img-responsive(src='/images/twitter.png')
      .col-xs-6.col-sm-6.col-md-3.col-lg-3
        img#facebook.social_icon.img-responsive(src='/images/facebook.png')
      .col-xs-6.col-sm-6.col-md-3.col-lg-3
        img#pinterest.social_icon.img-responsive(src='/images/pinterest.png')
      .col-xs-6.col-sm-6.col-md-3.col-lg-3
        img#weibo.social_icon.img-responsive(src='/images/sina-weibo.png')
    .row
      .col-xs-6.col-sm-6.col-md-3.col-lg-3
        img#googleplus.social_icon.img-responsive(src='/images/googleplus.png')
      .col-xs-6.col-sm-6.col-md-3.col-lg-3
        img#thumblr.social_icon.img-responsive(src='/images/thumblr.png')
      .col-xs-6.col-sm-6.col-md-3.col-lg-3
        img#vimeo.social_icon.img-responsive(src='/images/vimeo.png')
      .col-xs-6.col-sm-6.col-md-3.col-lg-3
        img#qqweibo.social_icon.img-responsive(src='/images/tengxunweibo.png')
    .row
      .col-xs-6.col-sm-6.col-md-3.col-lg-3
        img#weixin.social_icon.img-responsive(src='/images/weixinqr.png')